.cartouche
  text-align: center
  background-color: primaryColor
  color: secondaryColor
  border: solid 2px #707070
  border-radius: 5px
  max-width: 800px
  width: 80%
  margin: 0 auto
  padding calc(2vh+2vw);
