<%
const canonical = "https://1000i100.frama.io/gsper/"
_%>
<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">

<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    <meta charset="utf-8" />
    <title>Ǧsper > retrouver l'accès à mon compte Ǧ1 (par attaque dictionnaire).</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=3">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/logo/favicon.png">
    <link rel="icon" type="image/svg+xml" sizes="any" href="assets/img/logo/favicon.svg"/>
    <link rel="canonical" href="<%=canonical%>"/>
    <!--  -->
    <link rel="stylesheet" href="assets/style.css">

    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:title" content="Ǧsper > retrouver l'accès à mon compte monnaie libre Ǧ1."/>
    <meta property="og:url" content="<%=canonical%>"/>
    <meta property="og:image" content="<%=canonical%>assets/img/logo/gsper-logo-opengraph-fb-size.jpg"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="620" />
    <meta property="og:image" content="<%=canonical%>assets/img/logo/gsper-logo-couleur.jpg"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />

    <meta property="og:description" content="Ǧ'Perdu l'accès à mon compte, Ǧ'spère le retrouver ! ǦéDéClé à tester !"/>
    <meta property="og:updated_time" content="<%=Date.now()%>"/>
</head>

<body>

    <header>
        <h1 id="titlehome"><strong><img class="logo" src="assets/img/logo/gsper-logo-gris.svg" alt="Ǧ">sper</strong> retrouver l'accès a mon compte&nbsp;<img class="g1june" src="assets/img/logo/G1June-gris.svg" alt="G1June"></h1>
        <div class="col">
            <p>
                Ǧsper automatise le test des combinaisons d'identifiants secrets et de mot de passe que vous lui fournissez
                et vous indique s'il y a correspondance avec la clef publique de votre compte.
            </p><p>
                Il peut aussi générer des variantes à partir de ce que vous lui indiquez pour vous donner plus de changes de trouver la bonne combinaison.
            </p><p>
                Si la bonne combinaison n'est pas parmi ce qu'il test, Ǧsper ne pourra pas retrouver l'accès à votre compte.
            </p><p>
                Tester un grand nombre de combinaisons peut prendre des années. Ǧsper vous fourni un estimatif pour vous aider à cibler vos essais pour rester dans un délais raisonnable.
            </p><p>
                En sécurité informatique ce que des outils tel que Ǧsper font est appelé <a href="https://fr.wikipedia.org/wiki/Attaque_par_dictionnaire" target="_blank">attaque par dictionnaire.</a>
            </p>
        </div>
        <nav><a href="https://framagit.org/1000i100/gsper/#guide-dutilisation"><i class="fas fa-book">&nbsp;</i>Guide et documentation</a>
            <div></div><a href=""><i class="fas fa-heart">&nbsp;</i>Faire un don</a>
        </nav>
    </header>
    <section>
        <div class="stepsbar">
            <div class="icons">
                <i class="fas fa-home full"></i>
                <i class="fas fa-key"></i>
                <i class="fas fa-pen-nib"></i>
                <i class="fas fa-cog"></i>
                <i class="fas fa-flag"></i>
            </div>
            <div class="dot">
                <div><img src="assets/img/stepBar/dotactual.png" alt="actual step dot"></div>
                <div><img src="assets/img/stepBar/dotinactive.png" alt="futur dot"></div>
                <div><img src="assets/img/stepBar/dotinactive.png" alt="futur dot"></div>
                <div><img src="assets/img/stepBar/dotinactive.png" alt="futur dot"></div>
                <div><img src="assets/img/stepBar/dotinactive.png" alt="futur dot"></div>
            </div>
        </div>

        <a href="key.html#pubKey" class="button">
            Commencer <i class="fas fa-long-arrow-alt-right"></i>
        </a>
    </section>
</body>

</html>
