* {font-family: sans-serif; box-sizing: border-box; margin: 0; padding: 0}
h1{font-weight: normal; width: 100%; text-align: center; line-height: 70px;}
h2 {text-align: center;}
input[type="text"],textarea{border: 0; padding: 5px;}
legend {margin-left: 10px; padding: 0 5px}
em{font-size: 70%}
.pasEncore{display: none}
fieldset, #info {margin: 10px;}
header, #lists, header fieldset{
    display: flex;
    flex-wrap: wrap;
}
header fieldset {flex: 8; margin-top: 0; display: block;}
header #info {flex: 2}
header fieldset label, header fieldset input { padding: 5px;line-height: 60px; font-size: 16px;}
header fieldset label {white-space: nowrap; flex: 1;}
header fieldset input {flex: 99; width: calc(90% - 150px);}
#lists fieldset {flex: 1;display: flex; flex-direction: column;}
textarea {height: 100%; width: 100%;}
button {width: 100%; height: 32px}
header {height: 180px;position: fixed;top:0;left:0;right: 0;}
#lists{position: fixed;top:180px;left:0;right: 0;bottom: 0;}
#doc{position: fixed;top:20px;left:28px;line-height: 50px;}
.actions {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
.actions>*{
    flex: 1;
}
.abort{
    background-color: #ecc;
}
h1{padding-left: 3em; margin-top: 10px;}
.logo {height: 3em; position: absolute; margin: -0.6em -2.2em;}
.g1june {height: 1.2em; vertical-align: text-top;}

a {color: #666; text-decoration-style: dotted; text-decoration-color: #ccc;}
a:hover {color: #666; text-decoration-style: solid; text-decoration-color: #ccc;}

.gift{
    float:right;
    text-align: right;
}
.basic {margin-top: 10px;}
#advShow {margin-top: 10px;}
#advShow, #adv {opacity: 0.3;}

#resultat{
    background-color: #efe;
}
#fini{
    background-color: #fee;
}

.subPage {
    background-color: #eee;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    height: 200px;
    margin-top: -100px;
    padding: 20px;
    box-shadow: 0 0 50px 10px #000;
    overflow: auto;
    z-index: 3;
    display:none;
}

.subPage.active {
    display:block;
}
.subPage.active .close {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 6px 30px 2px;
    margin-top:-100px;
    margin-left:410px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: block;
    border: 0;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent 0%, #666 25%, #666 75%, transparent 100%) 100% 1;
}
.subPage.active .bgPopupClose {
    position: fixed;
    background-color: rgba(0,0,0,0.4);
}
.subPage.active .bgTop {
    top: 0;
    bottom: calc(50% + 100px);
    left: 0;
    right: 0;
}
.subPage.active .bgBottom {
    top: calc(50% + 100px);
    bottom: 0;
    left: 0;
    right: 0;
}
.subPage.active .bgLeft {
    top: calc(50% - 100px);
    bottom: calc(50% - 100px);
    left: 0;
    right: calc(50% + 500px);
}
.subPage.active .bgRight {
    top: calc(50% - 100px);
    bottom: calc(50% - 100px);
    left: calc(50% + 500px);
    right: 0;
}
