@font-face {
  font-family: 'asap';
  src: url("font/Asap-Regular.woff2") format('woff2'), url("font/Asap-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'asap';
  src: url("font/Asap-Bold.woff2") format('woff2'), url("font/Asap-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'asap';
  src: url("font/Asap-Italic.woff2") format('woff2'), url("font/Asap-Italic.woff") format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'asap';
  src: url("font/Asap-BoldItalic.woff2") format('woff2'), url("font/Asap-BoldItalic.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("font/fa-solid-900.woff2") format("woff2"), url("font/fa-solid-900.woff") format("woff");
}
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css"
