@media only screen and (orientation: landscape)
  .portrait, .smallScreen
    display none
  #test_area
    margin 8px 5px
@media only screen and (orientation: portrait), only screen and (max-width: 500px)
  //    HEADER ADJUSTMENT FOR MOBILE
  .paysage, .wideScreen
    display none
  .button.large
    margin 20px
  #waiting #progress_bar
    width 90vw
  .timeRemaining
    display block;
  .step_4_result.cartouche
    margin 20px auto
  .page_1_pubKey
    input
      width 96vw
      padding 5px 1vw
    .button
      margin 20px auto
  .notice, .warning
    padding 10px
    margin 10px
  #titlehome
    font-size:28px
  .page_0_home header h1
    font-size 25px
    margin-top 2px
    margin-bottom 12px
  header
    a
      font-size:20px
    nav
      align-items center
    h1
      font-size 25px
  .stepsbar
    width 85vw
    margin-bottom 0
  .filter_btn
    margin 20px 5px
  .tab_header
    border-radius 0 !important
  #test_area
    flex-direction column
    >*
      box-sizing border-box
      width 100vw !important
      padding 0
    .status
      order 3
      .overview
        border-radius 0
      #optionsWidgetList
        padding 5px 10px
    .inputArea
      order 2
    .tabs
      order 1
      .tab_content
        max-height 80vh
      .desc
        padding: 10px
  #waiting
    .progress_bar
      width: 300px
  #success
    width: 90vw

@media only screen and (max-height: 800px)
  #test_area .status .overview
        > *
          margin-top 10px
          margin-bottom 10px
  .stepsbar
    margin-bottom 0
  .tabs .tab_content
    max-height calc(100vh - 370px)
