<%- include('../fragments/header.ejs',{step:1}); %>
<section class="step_1_pubKey">
    <h2><label for="pubKey">Indiquez la clef publique de votre compte:</label></h2>
    <p>Si vous ne la connaissez pas, chercher votre profil dans l'annuaire <a href="https://cesium.app/" target="_blank">cesium</a>.</p>
    <form>
    <input id="pubKey" type="text" placeholder="Copier ici la clef publique du compte à récupérer"/>
    </form>

    <div class="warning hidden"></div>

    <a href="#page_2_inputSecrets" class="button">
        Suivant <i class="fas fa-long-arrow-alt-right"></i>
    </a>
    <div class="notice">
        Vous êtes juste là pour tester, sans compte à récupérer&nbsp;?
        Voici une clef publique valide utilisable comme exemple&nbsp;:
        <a href="#page_1_pubKey=BCHERdQbh3HhyDSoqHdXTyGQZLZvDA9b6DBABcMAPdDW">BCHERdQbh3HhyDSoqHdXTyGQZLZvDA9b6DBABcMAPdDW</a>
        <!--
        idSec : "Ça me serait pas venu à l'idée !"
        mdp : " MOI NON PLUS "
        -->
    </div>
</section>
