<%- include('../fragments/header.ejs',{step:3}); %>
<section id="waiting" class="step_3_inProgress">
    <div class="progressArea">
        <h2>Veuillez patienter, test de vos identifiants en cours</h2>
        <p><span>Temps écoulé : </span> <span id="timeSpent"></span> <span class="timeRemaining">(reste ≈ <span id="timeRemaining"></span>)</span></p>
        <p><span>Combinaisons testées :</span></p>
        <div id="progress_bar"> <span id="altTested"></span>/<span id="altTotal"></span> (<span id="searchSpeed"></span>/s)</div>
    </div>
    <!--<p>En <a href="#page_4_result">a</a>ttendant</p>
    <p>Voici les autres projets sur lesquelles je travaille:</p>-->
    <div class="stopButtons">
        <a href="#page_2_inputSecrets" class="button back large">
            Interrompre pour modifier ma recherche
        </a>
        <a href="#page_5_cleaning" class="button clean large">
            Interrompre et effacer mes traces
        </a>
    </div>
</section>
