<%- include('../fragments/header.ejs',{step:4}); %>
<section class="step_4_result">
    <div class="cartouche">
        <div class="success">
            <h3>Ǧ'trouvé ! ǦéLéClé !</h3>
            <div class="basic">
                <div class="notice">
                    <div><span>Identifiant secret : </span><span id="resIdSec"></span></div>
                    <div><span>Mot de passe : </span><span id="resPass"></span></div>
                </div>
                <a href="#page_5_cleaning" class="button large">
                    C'est noté<br/>
                    Nettoyer mes traces
                </a>
            </div>
        </div>
        <div class="notFound">
            <h3>Ǧ'spéré... ǦéTouTesté... ǦéPasTrouvé.</h3>
            <p>Ǧ'srais vous, Ǧ'lirais <a href="#page_2_inputSecrets">le guide</a> pour essayer des combinaisons plus avancées.</p>
        </div>
        <div class="stats">
            <div><span id="resTested"></span> combinaisons testées en <span id="resSpent"></span> (soit <span id="resSpeed"></span>/s)</div>
            <div id="resDup"><span id="resDuplicate"></span> doublons évités soit <span id="resDupRatio"></span>% des combinaisons testées</div>
        </div>
        <div class="success">
            <div class="gift notice">
                <center>Ǧ'spère vous avoir été utile.</center>
                <a href="javascript:giftPopup()" class="button large">
                    Soutenez mon travail avec un don !<br/>
                    👤 : 1000i100 🔑 : 2sZF6j2P
                </a>
            </div>
        </div>
        <div class="notFound">
            <a href="#page_2_inputSecrets" class="button back large">
                Réessayer avec d'autres combinaisons
            </a>
            <a href="#page_5_cleaning" class="button clean large">
                J'abandonne, effacer mes traces
            </a>
        </div>

    </div>
</section>
