<section class="browse tab">
    <input type="checkbox" name="tab" id="tabBrowse" value="tabBrowse"/>
    <label for="tabBrowse" class="tab_header"><i class="fas fa-eye"></i> Aperçu des&nbsp;combinaisons à&nbsp;tester</label>
    <div class="tab_content">
        <table class="wideScreen">
            <thead>
                <tr><th></th><th>N°</th><th>Identifiant secret</th><th>Mot de passe</th></tr>
            </thead>
            <tbody>
                <tr class="small"><th rowspan="2" class="up" onclick="browsePrev()">▲</th><td class="index"></td><td class="idSec"></td><td class="pwd"></td></tr>
                <tr><td class="index"></td><td class="idSec"></td><td class="pwd"></td></tr>
                <tr class="big"><th class="currentIndex"><input value="0"></th><td class="index"></td><td class="idSec"></td><td class="pwd"></td></tr>
                <tr><th rowspan="2" class="down" onclick="browseNext()">▼</th><td class="index"></td><td class="idSec"></td><td class="pwd"></td></tr>
                <tr class="small"><td class="index"></td><td class="idSec"></td><td class="pwd"></td></tr>
            </tbody>
        </table>
        <div class="smallScreen">
            <div class="flex-line"><div class="up" onclick="browsePrev()">◀</div><div class="currentIndex"><input value="0" placeholder="N°"/></div><div class="down" onclick="browseNext()">▶</div></div>
                <div><span class="short">idSec</span><span class="long">Identifiant secret</span><span class="smallIdSec"></span></div>
                <div><span class="short">Mdp</span><span class="long">Mot de passe</span><span class="smallPwd"></span></div>
        </div>
    </div>
<style>
  .currentIndex input{
    width: 90%;
    padding: 4px;
    padding-left: 0;
    text-align: right;
    border: 0;
  }
  .browse table {
    max-width: 45vw;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  .browse thead tr th:nth-child(1){
    width: 50px;
  }
  .browse thead tr th:nth-child(2){
    width: 5em;
  }
  .browse thead tr th:nth-child(3),
  .browse thead tr th:nth-child(4){
    width: 12em;
  }

  .browse table thead {
    color: #222;
    background: #aaa;
  }

  .browse table tbody {
    color: #555;
    background: white;
  }

  .browse .index {
    color: #555;
    background: #bbb;
  }

  .browse table .big td {
    color: #222;
    font-size: 130%;
  }

  .browse table .small td {
    font-size: 70%;
  }

  .browse .short {display: none;}
  .browse .idSec, .browse .pwd, .browse .smallIdSec, .browse .smallPwd {
    font-family: monospace;
  }
  .browse .idSec div, .browse .pwd div
  /*, .browse .smallIdSec div, .browse .smallPwd div*/
  {
    overflow-x: auto;
    white-space: nowrap;
  }
  .browse .idSec span, .browse .pwd span, .browse .smallIdSec span, .browse .smallPwd span {
    display: inline-block;
    width: .8em;
  }
  .browse .idSec span:nth-child(2n),
  .browse .pwd span:nth-child(2n),
  .browse .smallIdSec span:nth-child(2n),
  .browse .smallPwd span:nth-child(2n)
  {
    background-color: #dfd;
  }
  .browse .idSec span:nth-child(2n+1),
  .browse .pwd span:nth-child(2n+1),
  .browse .smallIdSec span:nth-child(2n+1),
  .browse .smallPwd span:nth-child(2n+1)
  {
    background-color: #ddf;
  }

  .browse .smallScreen .flex-line {display: flex;}
  .browse .smallScreen .currentIndex input {line-height: 50px; padding: 0; padding-right: 15px;}
  .browse .smallScreen .up, .browse .smallScreen .down {width: 50px;height: 50px; line-height: 50px}

  .browse .up, .browse .down {
    color: #222;
    background: #ccc;
    font-size: 200%;
    cursor: pointer;
    user-select: none;
  }

  .browse .up:hover, .browse .down:hover {
    color: #ccc;
    background: #222;
  }

</style>
<script>
  window.browseIndex = 0;
  function displayBrowsePreview(){
    let dico;
    try{
      dico = window.getDico();
    } catch (e){
      dico = window.getStaticDico();
    }
    window.browseIndex = putBrowseIndexInRange(window.browseIndex, dico);
    document.querySelectorAll('.currentIndex input').forEach(n=>n.value = window.browseIndex);
    if(dico.preview && dico.preview[`${window.browseIndex}`]){
      document.querySelector('.browse .smallIdSec').innerHTML = spanEachChar(dico.preview[`${window.browseIndex}`][0]);
      document.querySelector('.browse .smallPwd').innerHTML = spanEachChar(dico.preview[`${window.browseIndex}`][1]);
    } else {
      const dico = window.getDico();
      const {idSec,pwd} = dico.splitDryGet(window.browseIndex);
      document.querySelector('.browse .smallIdSec').innerHTML = spanEachChar(idSec);
      document.querySelector('.browse .smallPwd').innerHTML = spanEachChar(pwd);
    }
    const indexes = document.querySelectorAll('.browse .index');
    const idSecs = document.querySelectorAll('.browse .idSec');
    const pwds = document.querySelectorAll('.browse .pwd');

    for(let i = 0; i<=4;i++){
      const index = putBrowseIndexInRange(window.browseIndex+i-2, dico);
      indexes[i].innerHTML = index;
      if(dico.preview && dico.preview[`${index}`]){
        idSecs[i].innerHTML = spanEachChar(dico.preview[`${index}`][0]);
        pwds[i].innerHTML = spanEachChar(dico.preview[`${index}`][1]);
      } else {
        const dico = window.getDico();
        const {idSec,pwd} = dico.splitDryGet(index);
        idSecs[i].innerHTML = spanEachChar(idSec);
        pwds[i].innerHTML = spanEachChar(pwd);
      }
      indexes[i].innerHTML = putBrowseIndexInRange(window.browseIndex+i-2, dico);
    }
  }
  function spanEachChar(str){
    return `<div><span>${str.split('').map(chr=>chr===' '?'&nbsp;':chr).join('</span><span>')}</span></div>`
  }
  function browsePrev(){
    window.browseIndex--;
    displayBrowsePreview();
  }
  function browseNext(){
    window.browseIndex++;
    displayBrowsePreview();
  }
  function putBrowseIndexInRange(index,staticDico){
    return (index + staticDico.length) % staticDico.length;
  }
  function updateBrowseIndex(e){
    if(e && e.key && e.key === "ArrowUp") return browsePrev();
    if(e && e.key && e.key === "ArrowDown") return browseNext();
    if(e && e.deltaY && e.deltaY >0) return browseNext();
    if(e && e.deltaY && e.deltaY <0) return browsePrev();
    //TODO: swipe left & right
    if(e && e.target && e.target.nodeName === "INPUT") window.browseIndex = parseInt(e.target.value);
    displayBrowsePreview();
  }
  document.querySelectorAll('.currentIndex input').forEach(n=>n.addEventListener('keyup',updateBrowseIndex));
  document.querySelectorAll('.currentIndex input').forEach(n=>n.addEventListener('change',updateBrowseIndex));
  document.querySelectorAll('.browse tbody').forEach(n=>n.addEventListener('wheel',updateBrowseIndex));
</script>
</section>
