<%
const steps = ['home','pubKey','inputSecrets','inProgress','result','cleaning'];
const stepPath = steps.map((name,i)=>`#page_${i}_${name}`);
const stepClass = steps.map((name,i)=>`step_${i}_${name}`);
_%>
<div class="<%= stepClass[step] %>">
    <div class="stepsbar">
        <div class="icons">
            <i class="fas<%= step>=0?' full':''%> fa-home"></i>
            <i class="fas<%= step>=1?' full':''%> fa-key"></i>
            <i class="fas<%= step>=2?' full':''%> fa-pen-nib"></i>
            <i class="fas<%= step>=3?' full':''%> fa-cog"></i>
            <i class="fas<%= step>=4?' full':''%> fa-flag"></i>
        </div>
        <div class="dot">
            <% for(let i = 0; i<=4;i++){
                let stepStatus = 'futur';
                if(i===step) stepStatus = 'actual';
                if(i<step) stepStatus = 'link';
                if(i<step && i===3) stepStatus = 'passed';
            %>
                <a<%- 'link'===stepStatus?` href="${stepPath[i]}"`:'' %> class="<%= stepStatus%>"><img
                            src="img/stepBar/<%= stepStatus %>.png"
                            alt="<%= stepStatus %> step dot" class="notHover"/><img
                            src="img/stepBar/hover.png" alt="" class="hover"/></a>
            <% }%>
        </div>
    </div>
</div>
