<%
    const steps = ['home','pubKey','inputSecrets','inProgress','result','cleaning'];
    const stepPath = steps.map((name,i)=>`#page_${i}_${name}`);
    const stepClass = steps.map((name,i)=>`step_${i}_${name}`);
    const srcUrl = "https://git.duniter.org/tools/gsper"
 _%>
<header class="<%= stepClass[step] %>">
    <h1><strong><img class="logo" src="img/logo/gsper-logo-gris.svg" alt="Ǧ">sper</strong>
        retrouver l'accès à mon compte&nbsp;<img class="g1june" src="img/logo/G1June-gris.svg" alt="G1June"></h1>
    <% if(typeof text !== 'undefined'){
        const p = text.split(/\n\n/);
    _%>
    <div class="col paysage">
        <p>
            <%- p.join('</p><p>')%>
        </p>
    </div>
    <% } _%>
    <nav><a href="https://git.duniter.org/tools/gsper/-/issues" target="_blank" title="ou rapporter un bug"><i class="fas fa-bug">&nbsp;</i><span class="portrait">Un bug ?</span><span class="paysage">Proposer une évolution</span></a>
        <div></div><a href="javascript:giftPopup()"><i class="fas fa-heart">&nbsp;</i>Faire un don</a>
    </nav>
</header>
<%- include('headerStepBar.ejs',{step}); %>
