<div id="torWarning" class="hidden warning">
    <p>
        Attention, le navigateur avec le quel vous utilisez Ǧsper n'est pas <a href="https://www.torproject.org/download/">Tor Browser</a>.
    </p>
    <p>
        Si cette version de Ǧsper à une faille, c'est fait piratée,
        ou que son auteur manque d'intégrité, vos secrets pourraient être stockés
        par le navigateur et transmis plus tard.
        Pour vous en prémunir, utilisez <a href="https://www.torproject.org/download/">Tor Browser</a> ou un Live-CD
        et éteignez l'ordinateur dès que vous avez fini d'utiliser Ǧsper.
    </p>
</div>
<script>
    /**
     * TorBrowser security check
     */
    function looksLikeTorBrowser() {
        return window.navigator.userAgent.match(/Firefox/) &&
            new Date().getTimezoneOffset() === 0 &&
            window.screen.width === window.innerWidth &&
            window.screen.height === window.innerHeight;
    }
    if(!looksLikeTorBrowser()) {
      document.getElementById('torWarning').classList.remove('hidden');
      delete window.secuTips.tor;
    } else window.secuTips.tor = true;
</script>
