
*
    margin:0px
    padding:0px
    list-style: none


body
    background-color:secondaryColor
    font-family: asap, sans-serif
    padding-bottom:20px

h1
    font-size:28px
    margin:5px
    font-weight normal


    .logo
        height: 2.75em;
        position: relative;
        margin: -1em -0.75em;
        top: -0.15em;
    .g1june
        height: 1.35em;
        position: relative;
        margin: -0.4em 0;

#titlehome
    font-size:52px
    margin:20px
    .logo
        height: 2.65em;
        position: relative;
        margin: -1em -0.7em;
        top: -0.2em;


a
    text-decoration:none

//---STEPBAR STYLE---
.stepsbar
    width:60vw
    margin: 50px auto

.icons
    font-size:30px
    display:flex
    margin:0px 4px
    justify-content:space-between

    i
        font-size:30px
        display:block
        color:secondaryColor
        text-shadow: -1px 0 primaryColor, 0 1px primaryColor, 1px 0 primaryColor, 0 -1px primaryColor

    .full
        color:primaryColor
        text-shadow:none

.dot
    display:flex
    justify-content:space-between
    margin-top:10px
    position:relative

    &:after
        content:""
        top:calc(50% - 2px)
        width:100%
        height:2px
        position:absolute
        background-color:#A6ACCE
        z-index:-1

    img
        height:40px
        z-index:2
