#waiting
    text-align:center
    color:primaryColor
    
    >*
        margin: 20px 0px
        
    span
        font-weight:900
        
    .progress_bar
        border:solid 1px black
        background-color:white
        width : 400px
        margin: 20px auto